{% extends "index.html" %} 
{% block content %}
<div class="panel-info">
    <div class="input-row">
        <div class="input-group left">
            <label for="sequence_number" class="input-label">Seq #&nbsp</label>
            <input id="sequence_number" class="frameless-input" />
        </div>
        <div class="input-group left">
            <label for="input_name" class="input-label">Name </label>
            <input id="input_name" class="frameless-input" />
        </div>
        <div class="input-group left">
            <label for="guid_label" class="input-label">GUID</label>
            <input id="guid_label" class="frameless-input" />
        </div>
    </div>

    <div class="input-row">
        <div class="input-group">
            <img id="panel-img-preview" class="panel-img-preview" />
        </div>
    </div>

    <div class="button-container">
        <div class="trim-content-box button-custom" onclick="save()">Save</div>
        <div class="trim-content-box button-custom">Apply</div>
    </div>
</div>

{% endblock %}
