body {
    background: #1F232A;
    font-family: 'Proxima Nova', sans-serif;
    color: #8B949A;
    letter-spacing: .05em;
    transition: background .5s ease;
    position: absolute;
}

.row {
    display: inline-block;
    margin: 0px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.panel-preview {
    width: 100%;
    height: 350px;
    background: #212121;
    overflow-x: scroll;
}

.matrix-panel {
    width: 330px;
    height: 330px;
    cursor: pointer;
}

.preview-image {
    height: 300px;
    width: 300px;
    z-index: 0;
    pointer-events: none;
}

.matrix-panel-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: red;
}

.matrix-image-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    z-index: 10;
}

 ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

 ::-webkit-scrollbar-thumb {
    background: transparent;
}

.color-picker-panel {
    float: left;
    position: relative;
    background: #1F232A;
    width: 350px;
    border-radius: 8px;
    border: 2px solid #364347;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    top: 220px;
    left: 155px;
    transform: translate(-50%, -50%);
}

.panel-row {
    position: relative;
    margin: 0 10px 10px;
}

.panel-row:first-child {
    margin-top: 10px;
    margin-bottom: 6px;
}

.panel-row:after {
    content: "";
    display: table;
    clear: both;
}

.panel-header {
    background: #15191C;
    padding: 8px;
    margin: 0 -10px 10px;
    text-align: center;
}

.swatch {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border: 2px solid #364347;
    cursor: pointer;
}

.default-swatches {
    width: 212px;
}

.default-swatches .swatch:nth-child(6n + 1) {
    margin-left: 0;
}

.color-cursor {
    border-radius: 100%;
    background: #ccc;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    border: 2px solid #fff;
    transition: all .2s ease;
}

.color-cursor.dragging {
    transition: none;
}

.color-cursor#spectrum-cursor {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    top: 0;
    left: 0;
}

.color-cursor#hue-cursor {
    top: 0;
    left: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-left: -10px;
    pointer-events: none;
}

.spectrum-map {
    position: relative;
    width: 212px;
    height: 200px;
    overflow: hidden;
}

#spectrum-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
}

.hue-map {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 29px;
    width: 10px;
}

#hue-canvas {
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
}

.button {
    background: #2A3137;
    border: 0;
    border-radius: 4px;
    color: #8B949A;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    padding: 4px;
}

.button:active {
    background: #262c31;
}

.button.eyedropper {
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
    height: 68px;
    display: block;
}

.button.add-swatch {
    display: block;
    padding: 6px;
    width: 200px;
    margin: 10px auto 0;
}

.button.mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 40px;
}

.value-fields {
    display: none;
    align-items: center;
}

.value-fields.active {
    display: flex;
}

.value-fields .field-label {
    margin-right: 6px;
}

.value-fields .field-input {
    background: #15191C;
    border: 1px solid #364347;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 38px;
    padding: 0 4px;
    text-align: center;
    color: #8B949A;
    font-size: 1rem;
    display: block;
}

.rgb-fields .field-group {
    display: flex;
    align-items: center;
}

.rgb-fields .field-input {
    width: 42px;
    margin-right: 10px;
}

.hex-field .field-input {
    width: 170px;
}

.color-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.matrix {
    position: relative;
    width: 710px;
    height: 710px;
    left: 100px;
    line-height: 0px;
    float: left;
    margin: 0;
    background: #212121;
    z-index:100;
}

.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus+label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    width: 200px;
    height: 45px;
    color: white;
    float: right;
    background: #111;
    pointer-events: none;
}

.file-container {
    display: table-cell;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}

.topbar {
    display: table;
    width: 100%;
    height: 50px;
    background: #212121;
}

body {
    width: 100vw;
    background: #212121;
    margin: 0;
}

.container {
    width: inherit !important;
    padding: 0 !important;
    height: 50px !important;
}

.trim-content-box {
    background: rgba(21, 21, 21, 0.6);
    color: #4FFFB4;
    margin: auto;
    border: 3px solid;
    justify-content: center;
    border-style: solid;
    border-width: 0px 5px;
}

.slogan-box {
    display: flex;
    align-items: center;
    width: 600px;
    height: 200px;
}

.start-button:hover {
    background: rgba(21, 21, 21, 0.8);
    cursor: pointer;
}

#start-button-text {
    font-size: 75px;
}

.parallax {
    /* The image used */
    /*background-image: url("http://suretyone.org/blog/wp-content/uploads/NY-City-Street-1024x672.jpg");*/
    background-image: url("/static/images/wall.png");
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    /* Set a specific height */
    min-height: 750px;
    filter: grayscale(100);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-cell {
    width: 100vw;
    min-height: 700px;
    margin: 0;
}

.parallax-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.parallax-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /*background-image: url("http://suretyone.org/blog/wp-content/uploads/NY-City-Street-1024x672.jpg");*/
    background-image: url("/static/images/wall.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.info {
    padding: 20px 0 70px;
}

.header {
    font-size: 60px;
    color: #4FFFB4;
    font-family: helvetica, arial;
    display: table;
    margin: 10px auto;
    -webkit-font-smoothing: antialiased;
    filter: drop-shadow(2px 2px 2px black);
}

.single-img {
    padding: 0 20px;
}

.text {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: #3DC48A;
    font-size: 25px;
    font-family: helvetica, arial;
    -webkit-font-smoothing: antialiased;
    filter: drop-shadow(2px 2px 2px black);
}

.image-set {
    display: table;
    margin-left: auto;
    margin-right: auto
}

.panel-info {
    width: 100%;
    height: 400px;
}

.frameless-input {
    border: none;
    background: #444;
    color: rgb(25, 246, 140);
    outline-width: 0;
    height: 30px;
    font-size: 25px;
    width: 350px;
    margin: 0;
}

.input-group {
    display: inline;
    width: 700px;
    margin: 0 auto;
    margin: 10px 0 0 20px;
}

.input-row {
    width: 1000px;
    margin: 0 auto;
}

.input-label {
    font-size: 30px;
    padding-right: 10px;
    color: rgb(25, 246, 140);
}

.left {
    float: left;
}

.right {
    float: right;
}

.panel-img-preview {
    height: 200px;
    width: 200px;
}

.button-custom {
    width: 200px;
    height: 35px;
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.button-custom:hover {
    background: #4FFFB4AA;
    color: black;
    margin: auto;
    justify-content: center;
    border-style: solid;
    cursor: pointer;
}

.button-container {
    display: flex;
    width: 100%;
}

.post-render {
    height:1000px;
    width: 70%;
    margin: 0 auto;
}